*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.p{
    font-family: Arial Narrow,Arial,sans-serif; 
    font-size: x-small;
}

.grid1{
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50% 50%;
}

.container{
    display: grid;
    grid-template-columns: 20%, 20%, 20%, 20%, 20%;
    grid-template-rows: 16.6%, 16.6%, 16.6%, 16.6%, 16.6%;
    margin: 2rem auto 2rem auto;
    width: 85%;
}

.headContainer{
    margin: .5rem .5rem .5rem .5rem
}

.listContainer{
    margin: 2rem auto 2rem auto;
    width: 80%;
}

.header{
    align-self: center;
    display: inline-flex;
    width: 100%;
    height: 36px;
    
}

#nameTag{
    grid-column: 1;
    grid-row: 1;
}

#jobTitle{
    margin-top: 2rem;
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
}

#aboutMe{
    margin-top: 0rem;
    grid-column: 1;
}

#aboutMeText{
    -ms-grid-column-span:  1,3;
    grid-row: 4;
}

#projectTitle{
    grid-column: 1;
    grid-row: 5;
    display: flex;
    justify-content: center;
}

#listContainer{
    grid-column: span 1,4;
    grid-row: 6;
    list-style: none;
}

#footer{
    display: flex;
    justify-content: center;
}

.navItem{
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: inline-flex;
    justify-content: center;

}

#navBar{
    display: inline-flex;
}

footer{
bottom: 0;
width: 100%;
height: 3rem;   
box-shadow: 0 50vh 0 50vh #3f3d47;
}

#headshot{
    grid-column: 2;
    grid-row: span 1,2;
}

h3{
    margin: 1rem;
}

.footerNav{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 2rem;
}

.footLinks{
    margin-left: 2rem;
    margin-right: 2rem;
}

#contact{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

#gitHubLogo{
    height:1rem;
    width: auto;
}

#linkedInLogo{
    height:1rem;
    width: auto;
}

.footerLogo{
    margin-left: 1rem;
    margin-right: 1rem;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #88B97C;
    border-radius: 5px;
}

#VPS{
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50%, 50%;
}

#VPSpic{
    height:10rem;
    width:auto;
    grid-column: 2;
    grid-row: 1/3;
}

#RS{
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50%, 50%;
}

#RSpic{
    height:10rem;
    width:auto;
    grid-column: 2;
    grid-row: 1/3;
}

#TBD{
    display: grid;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50%, 50%;
}

#TBDpic{
    height:10rem;
    width:auto;
    grid-column: 2;
    grid-row: 1/3;
}